{% extends 'base.html' %}

{% block title %}Company Details{% endblock %}

{% block header %}Company Details{% endblock %}

{% block content %}
<body>
    <h1>Company Details: {{ company.company_name }}</h1>
    <p>Country: {{ company.country }}</p>
    <p>Town: {{ company.town }}</p>
    <p>Postal Code: {{ company.postal_code }}</p>
    <p>Street: {{ company.street }} {{ company.street_number }}</p>
    <p>Phone Number: {{ company.phone_number }}</p>
    <a href="{{ url_for('planner.edit_company', id=company.id) }}">Edit</a><br>
    <a href="{{ url_for('planner.confirm_company_delete', id=company.id) }}">Delete</a><br>
    <a href="{{ url_for('planner.companies') }}">Back to list</a><br>
</body>
{% endblock %}
