{% extends 'base.html' %}

{% block title %}Companies List{% endblock %}

{% block header %}Companies List{% endblock %}

{% block content %}
<div class="list-container companies-list">
    <h1>Companies List</h1>
    <ul>
        {% for company in companies %}
            <li>
                <a href="{{ url_for('planner.company_details', id=company.id) }}">
                    {{ company.company_name }} - {{ company.country }}, {{ company.street }} {{ company.street_number }},
                    {{ company.postal_code }} {{ company.town }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


