{% extends 'base.html' %}

{% block title %}Companies List{% endblock %}

{% block header %}Companies List{% endblock %}

{% block content %}
<body>
    <h1>Companies List</h1>
    <ul>
        {% for company in companies %}
            <li>
                <a href="{{ url_for('planner.company_details', company_id=company.id) }}">
                    {{ company.company_name }} - {{ company.country }}, {{ company.street }} {{ company.street_number }},
                    {{ company.postal_code }} {{ company.town }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
