{% extends 'base.html' %}

{% block title %}Transportation Order Delete{% endblock %}

{% block header %}Transportation Order Delete{% endblock %}

{% block content %}
<div>
    <h1>Are you sure you want to delete this order ?</h1>
    <form action="{{ url_for('planner.delete_transportation_order', id=order.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit">Delete</button>
    </form>
    <a href="{{ url_for('planner.transportation_orders') }}">Cancel</a>
</div>
{% endblock %}
