{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }} Form{% endblock %}

{% block content %}
<div class="transportation_order-form">
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.planned_delivery_date.label }} {{ form.planned_delivery_date }}<br>
            {% for error in form.planned_delivery_date.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.trailer_type.label }} {{ form.trailer_type }}<br>
        </div>
        <div>
            {{ form.load_weight.label }} {{ form.load_weight }}<br>
        </div>
        <div>
            {{ form.loading_place.label }} {{ form.loading_place }}<br>
        </div>
        <div>
            {{ form.delivery_place.label }} {{ form.delivery_place }}<br>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
