{% extends 'base.html' %}

{% block title %}Transportation Order Details{% endblock %}

{% block header %}Transportation Order Details{% endblock %}

{% block content %}
<div class="form-container transportation-order-details">
    <h1>Order Details:</h1>
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>Creation Date:</strong> {{ order.creation_date }}</p>
    <p><strong>Created By:</strong> {{ order.creator }}</p>
    <p><strong>Planned Delivery Date:</strong> {{ order.planned_delivery_date }}</p>
    <p><strong>Trailer Type:</strong> {{ order.trailer_type }}</p>
    <p><strong>Load Weight:</strong> {{ order.load_weight }}</p>
    <p><strong>Loading Place:</strong> {{ order.loading_company }}</p>
    <p><strong>Delivery Place:</strong> {{ order.delivery_company }}</p>
    {% if not order.completed %}
        <a href="{{ url_for('planner.edit_transportation_order', id=order.id) }}" class="btn btn-primary">Edit</a><br>
        <a href="{{ url_for('planner.confirm_transportation_order_delete', id=order.id) }}" class="btn btn-danger">Delete</a><br>
        <a href="{{ url_for('planner.transportation_orders') }}" class="btn btn-secondary">Back to list</a><br>
    {% else %}
        <p><strong>Completed by:</strong> {{ order.assigned_driver }}</p>
        <a href="{{ url_for('planner.archived_transportation_orders') }}" class="btn btn-secondary">Back to list</a><br>
    {% endif %}
</div>
{% endblock %}


