{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }} Form{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(id="username", class="form-control") }}
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="first_name">{{ form.first_name.label }}</label>
            {{ form.first_name(id="first_name", class="form-control") }}
            {% for error in form.first_name.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="last_name">{{ form.last_name.label }}</label>
            {{ form.last_name(id="last_name", class="form-control") }}
            {% for error in form.last_name.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="phone_number">{{ form.phone_number.label }}</label>
            {{ form.phone_number(id="phone_number", class="form-control") }}
            {% for error in form.phone_number.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(id="email", class="form-control") }}
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(id="password", class="form-control") }}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="role">{{ form.role.label }}</label>
            {{ form.role(id="role", class="form-control") }}
            {% for error in form.role.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}

