{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block header %}Registration Form{% endblock %}

{% block content %}
<div class="registration-form">
    <form method="post" action="{{ url_for('user.register') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username(size=20) }}<br>
        </div>
        <div>
            {{ form.first_name.label }} {{ form.first_name(size=20) }}<br>
        </div>
        <div>
            {{ form.last_name.label }} {{ form.last_name(size=20) }}<br>
        </div>
        <div>
            {{ form.email.label }} {{ form.email(size=30) }}<br>
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}<br>
        </div>
        <div>
            {{ form.role.label }} {{ form.role() }}<br>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
