{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }} Form{% endblock %}

{% block content %}
<div class="registration-form">
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username(size=20) }}<br>
        </div>
        <div>
            {{ form.first_name.label }} {{ form.first_name(size=20) }}<br>
        </div>
        <div>
            {{ form.last_name.label }} {{ form.last_name(size=20) }}<br>
        </div>
        <div>
            {{ form.phone_number.label }} {{ form.phone_number(size=20) }}<br>
        </div>
        <div>
            {{ form.email.label }} {{ form.email(size=30) }}<br>
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}<br>
        </div>
        <div>
            {{ form.role.label }} {{ form.role() }}<br>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
