{% extends 'base.html' %}

{% block title %}Users List{% endblock %}

{% block header %}Users List{% endblock %}

{% block content %}
<body>
    <h1>Users List</h1>
    <h3>Planners:</h3>
    <ul>
        {% for planner in planners %}
            <li>
                <p>{{ planner }}</p>
            </li>
        {% endfor %}
    </ul>
    <h3>Dispatchers:</h3>
    <ul>
        {% for dispatcher in dispatchers %}
            <li>
                <p>{{ dispatcher }}</p>
            </li>
        {% endfor %}
    </ul>
    <h3>Drivers:</h3>
    <ul>
        {% for driver in drivers %}
            <li>
                <p>{{ driver }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
