{% extends 'base.html' %}

{% block title %} Completing the Order {% endblock %}

{% block header %} Completing the Order Form{% endblock %}

{% block content %}
<div class="form-container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="driver">{{ form.driver.label }}</label>
            {{ form.driver(id="driver", class="form-control") }}
            {% for error in form.driver.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="tractor_head">{{ form.tractor_head.label }}</label>
            {{ form.tractor_head(id="tractor_head", class="form-control") }}
            {% for error in form.tractor_head.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="trailer">{{ form.trailer.label }}</label>
            {{ form.trailer(id="trailer", class="form-control") }}
            {% for error in form.trailer.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}


