{% extends 'base.html' %}

{% block title %} Completing the Order {% endblock %}

{% block header %} Completing the Order Form{% endblock %}

{% block content %}
<div class="completing_the_order-form">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.driver.label }} {{ form.driver() }}
            </div>
            <div>
                {{ form.tractor_head.label }} {{ form.tractor_head() }}
            </div>
            <div>
                {{ form.trailer.label }} {{ form.trailer() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
</div>
{% endblock %}
