{% extends 'base.html' %}

{% block title %}Trailer Delete{% endblock %}

{% block header %}Trailer Delete{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Are you sure you want to delete {{ trailer }}?</h1>
    <form action="{{ url_for('dispatcher.delete_trailer', id=trailer.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{{ url_for('dispatcher.trailer_details', id=trailer.id) }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

