{% extends 'base.html' %}

{% block title %}Tractor Heads List{% endblock %}

{% block header %}Tractor Heads List{% endblock %}

{% block content %}
<div class="list-container tractor-heads-list">
    <h1>Tractor Heads List</h1>
    <ul>
        {% for tractor_head in tractor_heads %}
            <li>
                <a href="{{ url_for('dispatcher.tractor_head_details', id=tractor_head.id) }}">
                    {{ tractor_head }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


