{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }} Form{% endblock %}

{% block content %}
<div class="tractor_head-form">
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.brand.label }} {{ form.brand(size=20) }}<br>
            {% for error in form.brand.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.registration_number.label }} {{ form.registration_number(size=20) }}<br>
            {% for error in form.registration_number.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
