{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }} Form{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="type">{{ form.type.label }}</label>
            {{ form.type(id="type", class="form-control") }}
            {% for error in form.type.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="registration_number">{{ form.registration_number.label }}</label>
            {{ form.registration_number(id="registration_number", class="form-control", size=20) }}
            {% for error in form.registration_number.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}


