{% extends 'base.html' %}

{% block title %}Orders List{% endblock %}

{% block header %}Orders List{% endblock %}

{% block content %}
<div class="list-container orders-list">
    <h1>Orders List</h1>
    <ul>
        {% for order in orders %}
            <li class="order-item">
                <a href="{{ url_for('dispatcher.complete_the_order', id=order.id) }}">
                    {{ order.planned_delivery_date }} : {{ order.loading_company }} ---> {{ order.delivery_company }}
                </a>
                <p>Actually assigned driver: {{ order.assigned_driver.first_name }} {{ order.assigned_driver.last_name }}</p>
                <p>Actually assigned tractor head: {{ order.assigned_tractor_head.brand }} {{ order.assigned_tractor_head.registration_number }}</p>
                <p>Actually assigned trailer: {{ order.assigned_trailer.type }} {{ order.assigned_trailer.registration_number }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

