{% extends 'base.html' %}

{% block title %}Archived Orders{% endblock %}

{% block header %}Archived Orders{% endblock %}

{% block content %}
<div class="list-container archived-orders">
    <h1>Archived Orders</h1>
    <ul class="order-list">
        {% for order in archived_orders %}
            <li class="order-item">
                <p><strong>Date:</strong> {{ order.planned_delivery_date }}</p>
                <p><strong>Tractor Head:</strong> {{ order.tractor_head }}</p>
                <p><strong>Trailer:</strong> {{ order.trailer }}</p>
                <p><strong>Load Weight:</strong> {{ order.load_weight }}</p>
                <p><strong>Loading Place:</strong> {{ order.loading_company }}</p>
                <p><strong>Delivery Place:</strong> {{ order.delivery_company }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


