{% extends 'base.html' %}

{% block title %}Archived Orders{% endblock %}

{% block header %}Archived Orders{% endblock %}

{% block content %}
<body>
    <ul>
        {% for order in archived_orders %}
            <li>
              <p>Date: {{ order.date }}</p>
              <p>Trailer Type: {{ order.trailer_type }}</p>
              <p>Load Weight: {{ order.load_weight }}</p>
              <p>Loading Place: {{ order.loading_place }}</p>
              <p>Delivery Place: {{ order.delivery_place }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
