{% extends 'base.html' %}

{% block title %}Archived Orders{% endblock %}

{% block header %}Archived Orders{% endblock %}

{% block content %}
<body>
    <ul>
        {% for order in archived_orders %}
            <li>
              <p>Date: {{ order.planned_delivery_date }}</p>
              <p>Tractor Head: {{ order.tractor_head }}</p>
              <p>Trailer: {{ order.trailer }}</p>
              <p>Load Weight: {{ order.load_weight }}</p>
              <p>Loading Place: {{ order.loading_company }}</p>
              <p>Delivery Place: {{ order.delivery_company }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
