{% extends 'base.html' %}

{% block title %}Finish Order{% endblock %}

{% block header %}Finish Order{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Complete order?</h1>
    <form action="{{ url_for('driver.finish_order', id=current_order.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-primary">Complete</button>
        <a href="{{ url_for('driver.current_transportation_order') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

