{% extends 'base.html' %}

{% block title %}Current Order{% endblock %}

{% block header %}Current Order{% endblock %}

{% block content %}
<body>
    <h1>Your Transportation Order:</h1>
    {% if order %}
        <p>Planned delivery date: {{ order.planned_delivery_date }}</p>
        <p>Trailer Type: {{ order.trailer_type }}</p>
        <p>Load Weight: {{ order.load_weight }}</p>
        <p>Loading Place: {{ order.loading_company }}</p>
        <p>Delivery Place: {{ order.delivery_company }}</p>
        <a href="{{ url_for('driver.confirm_finish_order', id=order.id) }}">Complete</a>
    {% else %}
        <p>You don’t have any orders right now.</p>
    {% endif %}
</body>
{% endblock %}
