{% extends 'base.html' %}

{% block title %}Current Order{% endblock %}

{% block header %}Current Order{% endblock %}

{% block content %}
<body>
    <h1>Your Transportation Order:</h1>
    {% if current_order %}
        <p>Date: {{ current_order.date }}</p>
        <p>Trailer Type: {{ current_order.trailer_type }}</p>
        <p>Load Weight: {{ current_order.load_weight }}</p>
        <p>Loading Place: {{ current_order.loading_place }}</p>
        <p>Delivery Place: {{ current_order.delivery_place }}</p>
        <a href="{{ url_for('confirm_finish_order', id=order.id) }}">Edit</a>
    {% else %}
        <p>You don’t have any orders right now.</p>
    {% endif %}
</body>
{% endblock %}
