<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Freight Hub{% endblock %}</title>
</head>
<body>
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h1>{% block header %}Freight Hub{% endblock %}</h1>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    {% if current_user.role == "planner" %}
                        <li><a href="{{ url_for('planner.new_company') }}">Create new company</a></li>
                        <li><a href="{{ url_for('planner.companies') }}">Companies list</a></li>
                        <li><a href="{{ url_for('planner.new_transportation_order') }}">Create new transportation order</a></li>
                        <li><a href="{{ url_for('planner.transportation_orders') }}">Transportation orders list</a></li>
                        <li><a href="{{ url_for('planner.archived_transportation_orders') }}">Archived transportation orders list</a></li>
                    {% elif current_user.role == "dispatcher" %}
                        <li><a href="{{ url_for('dispatcher.orders_without_drivers') }}">Orders without assigned driver</a></li>
                        <li><a href="{{ url_for('dispatcher.orders_with_drivers') }}">Orders with assigned driver</a></li>
                    {% elif current_user.role == "driver" %}
                        <li><a href="{{ url_for('driver.current_transportation_order') }}">Your current transportation order</a></li>
                        <li><a href="{{ url_for('driver.completed_orders') }}">Your completed transportation orders</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('user.users_list') }}">Users list</a> </li>
                    <li><a href="{{ url_for('user.logout_confirm') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('user.register') }}">Register</a></li>
                    <li><a href="{{ url_for('user.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
